/* navbar */

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0px 25px ; */
    margin: 10px 40px;
}

#nav_items{
    display: flex;
    justify-content: center;
    
}

/* nav > nav > #logo:hover {
    color: red;
} */


ul li {
    list-style-type: none;
    margin-right: 15px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul li a:hover{
    color: red;
}

/* fresh flower */
.flower_container{
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 20px 40px;
    /* display: grid;
    grid-template: 2fr 2fr; */
}

#always_text{
    font-size: x-large;
    font-weight: bold;
}

.fresh_text{
    color: tomato;
    font-size: x-large;
    font-weight: bold;
}

.fitem1{
    align-items: end;
}

/* #indulge_text{
    
} */


/*our Plants */

.plants_container{
    /* margin-top: 40px; */
    margin: 30px 40px 30px;
}


.Plants_heading{
    text-align: center;
}

.img_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-columns: repeat(4, 1fr); */
    /* display: flex; */
    justify-content:center;
    align-items: center;
    margin: 30px 0px;
    
}

.image_card{
    width: 100%;
    /* border: 1px solid; */
    text-align: center;
    margin: 2px 4px;
    /* margin-right: 5px; */
}

.image_card p{
    
    font-weight: bolder;
}

.usd{
    font-weight: 100;
    margin-bottom: 12px;
}
.image_card button {
    width: 98%;
    background-color: orangered;
}

/* lover */

#seller_logo {
    position: absolute;
    left: 300px;
}
.lover_grid_container{
    margin: 80px 60px;
    display: grid;
    /* grid-template-columns: auto auto;
    justify-content: space-between; */
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}
.lover_grid_container ul {
    list-style-type: circle;
}

/* deals */
.deal_grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    margin: 20px 50px;
}

#d_item1 {
   /* margin: 4px;
   padding: 4px; */
}
#d_item2 {
    grid-column: 2 / span 4;
    grid-row: 1 / span 3 ;
    /* margin: 4px;
    padding: 4px; */
}

#d_item3 {
    /* margin: 4px;
    padding: 4px; */
}

.d_img{
    border-radius: 16px;
}

.overlay_text{
    
}